@import "./utils/mixins";
@import "./utils//variables";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $main-bg-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post__image {
  width: 140px;
  height: 140px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  transition: 0.2s ease box-shadow;

  &:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  @media screen and (min-width: 640px) {
    width: 180px;
    height: 180px;
  }

  @media screen and (min-width: 1024px) {
    width: 220px;
    height: 220px;
  }
}

.allPosts__container {
  display: flex;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.allPosts__item {
  width: fit-content;
  cursor: pointer;
}
