@import "../../utils/mixins";
@import "../../utils/variables";

.createPost__prompt {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-red-color;
  width: fit-content;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease transform;

  &:hover {
    transform: scale(1.1);
  }
}
