.createPost__prompt {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: fit-content;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease transform;

  &:hover {
    transform: scale(1.1);
  }
}

.allPosts__container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.allPosts__item {
  border: 1px solid black;
  width: fit-content;
  padding: 15px;
  margin: 0 auto;
  border-radius: 15px;
  cursor: pointer;
}
